body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

/* HEADER */
.header  {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; /* було transparent */
  color: black;       /* було white */
  transition: all 0.3s ease;
  box-sizing: border-box; /* щоб padding не ламав ширину */
  height: 80px;
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

.logo {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}


.logo span {
  font-size: 28px;
  color: #2f2f2f;    /* Насичений чорний колір */
  text-transform: capitalize;               /* Слово з великої літери */
  margin-left: 5px;
}

/* MENU */
nav {
  display: flex;
  align-items: center; /* щоб меню і кнопка були по центру */
  gap: 1px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1px; /* трохи більше повітря */
  padding: 0;
  margin: 0;
  flex-wrap: nowrap; /* ВАЖЛИВО */
}

nav li {
  cursor: pointer;
}

/* HERO */
.hero {
  height: calc(100vh - 80px); /* віднімаємо висоту шапки */
  margin-top: 80px; /* зсуваємо вниз */
  background: url('hero.jpg') center/cover no-repeat;
}
.news {
  background: #f5f5f5;
  padding: 100px 20px;
  text-align: center;
}

.news h2 {
  font-size: 28px;
  margin-bottom: 50px;
}

.news-item {
  max-width: 600px;
  margin: 0 auto 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.date {
  font-size: 12px;
  color: gray;
}

.title {
  font-size: 18px;
  margin: 10px 0;
}

.source {
  font-size: 14px;
  color: #555;
}
.news h2 {
  font-size: 28px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.news h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #999;
  margin: 10px auto 0;
}
nav a {
  text-decoration: none;
  color: #555; /* світло-чорний */
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}

/* Лінія при наведенні */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: black;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: black;
}

/* Активна сторінка */
nav a.active::after {
  width: 100%;
}


nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Товщина літер */
  letter-spacing: 0.05em; /* Легкий міжлітерний інтервал для витонченого вигляду */
  font-size: 14px;
  text-transform: capitalize;
}


nav li {
  width: 100px;
  text-align: center;
}


.bio {
  margin-top: 80px;
  padding: 60px 40px;
}

.bio-container {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.bio-image {
  flex: 1;
  background: url('hero.jpg') center/cover no-repeat;
  height: 600px;
}

.bio-text {
  flex: 1;
}

.bio-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.bio-text p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #444;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
